* {
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    text-align: center;
    margin-top: 30px;
}

#recipes-line {
    color: rgb(122, 119, 119);
    margin-bottom: 50px;
    font-family: Funnel Sans, sans-serif;
    font-size: 19px;
}

.navigation-container {
    display: flex;
    justify-content: center;
}

#box-1, 
#box-2,
#box-3 {
    font-family: Roboto, Arial;
    font-size: 25px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
    padding: 20px 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#image-1 {
    display: flex;
    margin-top: 40px;
    height: 200px
}